@model List<ToDoListModel>

<h1>Marijos pamirštų darbų sąrašas</h1>


<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>

    @foreach (ToDoListModel todoModel in @Model)
    {
        <tr>
            <td>@todoModel.Name</td>
            <td>@todoModel.Description</td>
            <td> <input class="btn btn-primary"    type="button" value="kazkas" /> </td>
        </tr>
    }


</table>